<form class="user-content">
    <div id="profile-pic">
      <img width="250" id="preview-post-image" src="<%= user.escape("image_url") %>" />
    </div>
    <!-- <img src="" width="250" id="preview-post-image"> -->
    <input type="file" name="user[image]" id="input-post-image">
    <div id="name">
      <div id="user-name">
        <label for="">Email
          <input type="text" name="user[username]" value="<%= user.escape("username") %>">
        </label>
        <label for="">Nickname
          <input type="text" name="user[nickname]" value="<%= user.escape("nickname") %>">
        </label>
        </div>
        <div id="user-info">
          About: <input type="text" name="user[description]" value="<%= user.escape("description")%>">
          Location: <input type="text" name="user[location]" value="<%= user.escape("location") %>">
        </div>
    </div>
    <input type="submit" class="save-user" value="Save">
  </form>
