
<div class='group'>

  <section class="user-menu">
    <div class="profile">
      <a>Profile</a>

    </div>

    <div class="profile-reviews">
      <a>Reviews</a>
    </div>

    <div class="profile-rest">
      <a>Restaurants</a>
    </div>
  </section>

  <form class="user-content">
      <img  id="profile-pic" height="250" src="<%= user.escape("image_url") %>" ="" />
    <div id="name">
      <div id="user-name">
        Welcome <%= user.escape("username") %>
        <% if(user.escape("nickname") != "") { %>
          A.K.A. <%= user.escape("nickname") %>
          <% } %>
        </div>
        <div id="user-info">
          About: <%= user.escape("description") != "" ? user.escape("description") : "ADD IT" %>
          Location: <%= user.escape("location") != "" ? user.escape("location") : "ADD IT" %>
        </div>
    </div>
    <% if (YelpClone.currentUser.isSignedIn() ) { %>
    <input type="button" class="edit-user" value="Edit">
    <% } %>
  </form>

</div>
